[program:superset]
command=/opt/finalyca/superset/venv/bin/superset run -h 0.0.0.0 -p 8088 --with-threads --reload --debugger
directory=/opt/finalyca/superset
user=root
stopsignal=TERM
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true

stdout_logfile=/opt/finalyca/log/%(program_name)s_stdout.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=10
stderr_logfile=/opt/finalyca/log/%(program_name)s_stderr.log
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=10